<div class="content-header">
      <div class="container-fluid">
        <div class="container" >
          <div class="row" align="left">
            <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text">Всего в парке</span>
                        <span class="info-box-number">{{summtransport}}</span>
                      </div>
                    </div>
            </div>
                  <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text">В аренде</span>
                        <span class="info-box-number" >1,410</span>
                      </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text">На ремонте</span>
                        <span class="info-box-number">1,410</span>
                      </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text">В ожидании</span>
                        <span class="info-box-number">1,410</span>
                      </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text"><i class="icon fas fa-exclamation-triangle"></i>Низкий заряд</span>
                        <span class="info-box-number">1,410</span>
                      </div>
                    </div>
            </div>

            <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text"><i class="icon fas fa-ban"></i>Вне зоны</span>
                        <span class="info-box-number">1,410</span>
                      </div>
                    </div>
            </div>
            <div class="col-sm">
                    <div class="info-box card-outline card-primary">
                      <div class="info-box-content">
                        <span class="info-box-text">Messages</span>
                        <span class="info-box-number">1,410</span>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
</div>
