{% extends 'adm/index.html' %}
{% load static %}
{% block content_header %}

<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{name}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{% block content_header_breadcrumb %}ScooterADM{% endblock %}</a></li>
              <li class="breadcrumb-item active">{{name}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

{% endblock %}

{% block main_content.html %}

{% include 'adm/content/info-boxes.html' %}



<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <style>
                .soflex2 > div
                {
                    display: flex;
                    justify-content: space-between;
                }
                </style>
                  <div class="soflex2">
                      <div>
                            <div style="font-weight:bold" >Qr_code</div>
                            <div style="font-weight:bold" >Заряд</div>
                      </div>
                  {%for el in trans%}
                      <div>
                            <div>{{el.Qr_code}}</div>
                            <div>{{el.Battery}}</div>
                      </div>

                      {% endfor%}

                  </div>

              </div>
            </div>
          </div>
          <div class="col-md-10">
              <style>
			    #mapid{
				height: 70vh;
				width:100%;
				margin:0;
			    }
	           </style>
                <div id="mapid" class="card">
                </div>
          </div>
        </div>
      </div>
    </section>

<script>

var mymap = L.map('mapid').setView([48.470987, 135.092935], 13);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYmxvb2R5cnUiLCJhIjoiY2txYnpjMnoxMDNyODJ1cDliaGlsOGdlNCJ9.lmO1vBnXQzD21BQBAwhJhQ'
}).addTo(mymap);

var marker = L.marker([51.5, -0.09]).addTo(mymap);

var circle = L.circle([51.508, -0.11], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
}).addTo(mymap);

var latlngs = [[48.478276, 135.076686],[48.476256, 135.073337],[48.478133, 135.078104],[48.483396, 135.07703]];

var polygon1 = L.polygon(latlngs, {color: 'red'}).addTo(mymap);

var polygon = L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
]).addTo(mymap);

var popup = L.popup();
var poly = [];
function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
        poly.push([e.latlng.lat, e.latlng.lng]);
        console.log(poly);

}

mymap.on('click', onMapClick);





</script>
{% endblock %}
