{% extends 'adm/index.html' %}
{% load static %}
{% block content_header %}

<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{name}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{% block content_header_breadcrumb %}ScooterADM{% endblock %}</a></li>
              <li class="breadcrumb-item active">{{name}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

{% endblock %}

{% block main_content.html %}

{% include 'adm/content/info-boxes.html' %}



<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <style>
                .soflex2 > div
                {
                    display: flex;
                    justify-content: space-between;
                }
                </style>

                    <div class="soflex2">
                        <div>
                            <div style="font-weight:bold" >Qr code</div>
                            <div style="font-weight:bold" >Заряд</div>
                            <div style="font-weight:bold" >Right 1</div>
                        </div>
                        <div>
                            <div>Left 2</div>
                            <div>Center 2</div>
                            <div>Right 2</div>
                        </div>
                        <div>
                            <div>Left 3</div>
                            <div>Center 3</div>
                            <div>Right 3</div>
                        </div>
                    </div>

              </div>
            </div>
          </div>
          <div class="col-md-9">
              <style>
			    #mapid{
				height: 550px;
				width:100%;
				margin:0;
			    }
	           </style>
                <div id="mapid" class="card">
                </div>
          </div>
        </div>
      </div>
    </section>

<script>
var mymap = L.map('mapid').setView([51.505, -0.09], 13);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYmxvb2R5cnUiLCJhIjoiY2txYnpjMnoxMDNyODJ1cDliaGlsOGdlNCJ9.lmO1vBnXQzD21BQBAwhJhQ'
}).addTo(mymap);

var marker = L.marker([51.5, -0.09]).addTo(mymap);

var circle = L.circle([51.508, -0.11], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 500
}).addTo(mymap);

var polygon = L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
]).addTo(mymap);

var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
}

mymap.on('click', onMapClick);
</script>
{% endblock %}
