{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="transport.html" class="brand-link">
      <img src="{% static 'adm/dist/img/AdminLTELogo.png'%}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ScooterADM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->


      <!-- SidebarSearch Form -->


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="transport.html" class="nav-link {{person}}">
              <i class="nav-icon fas fa-bicycle"></i>
              <p>
                Транспорт
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'map' %}" class="nav-link">
              <i class="nav-icon fas fa-map"></i>
              <p>
                Карта
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="users.html" class="nav-link">
              <i class="nav-icon fa fa-id-card"></i>
              <p>
                Пользователи
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="trips.html" class="nav-link">
              <i class="nav-icon fa fa-database"></i>
              <p>
                Поездки
              </p>
            </a>
          </li>
          <li class="nav-item menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-map-marker"></i>
              <p>
                Геозоны
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../UI/general.html" class="nav-link">
                  <i class="#"></i>
                  <p>Зоны</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../UI/general.html" class="nav-link">
                  <i class="#"></i>
                  <p>Типы</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-gift"></i>
              <p>
                Промокоды
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-list-ul"></i>
              <p>
                Ценовые планы
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-envelope"></i>
              <p>
                Пакеты
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-credit-card"></i>
              <p>
                Платежи
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-flag"></i>
              <p>
                Отчеты
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon fa fa-cog"></i>
              <p>
                Настройки
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>