{% extends 'adm/index.html' %}
{% load static %}
{% block content_header %}

<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{name}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{% block content_header_breadcrumb %}ScooterADM{% endblock %}</a></li>
              <li class="breadcrumb-item active">{{name}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

{% endblock %}

{% block main_content.html %}
<style>
body {font-family: "Lato", sans-serif;}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
.tablink:hover {
    background-color: #777;
}
/* Style the tab content */
.tabcontent {
    color: black;
    background-color:#f4f6f9;
    width: 100%;
    padding:10px;
    border: solid 1px black;
    border-radius: 5px;
    float:left;
    margin-top: 5px;
    display: none;
    text-align: left;
    }
</style>
</head>
<body>
<div style="padding: 10px;">
<div>
{% for el in typezone %}
<button class="tablink" onclick="openZone('{{el.TypeZone}}', this, '{{el.ColorZone}}')" id="defaultOpen">{{el.TypeZone}}</button>
{% endfor%}
</div>
  {% for el in typezone %}
  <div id="{{el.TypeZone}}" class="tabcontent">
      <div>
        <form name="TypeOfZoneForm" method="post">
          {% csrf_token %}
          <div style="float: left width: 100%;">
            <input id="{{el.TypeZone}}name" type="text" name="TypeZone" readonly  value="{{el.TypeZone}}" style="border: none;font-size: 21pt;background-color:#f4f6f9">
          <hr />
          </div>
          <div style="float: left; width: 30%;">
            <input type="checkbox" id="CanYouParkingOnThisArea{{el.TypeZone}}" name="CanYouParkingOnThisArea">Парковка разрешена
          </div>
          <div style="float: left; width: 70%;">
            <input type="checkbox" id="CanYouScooterOnThisArea{{el.TypeZone}}" name="CanYouScooterOnThisArea">Поездка разрешена
          </div>
          <div>
            Максимальная скорость:<br>
            <input type="text" id="{{el.TypeZone}}MaxSpeed" name="MaxSpeed" style=" width: 100%;">
          </div>
          <div>
            Описание:<br>
            <input type="text" id="{{el.TypeZone}}Description" name="Description" style=" width: 100%;">
          </div>
          Цвет:
          <p><input id="{{el.TypeZone}}id_hex_color" maxlength="7" name="hex_color" type="color" value="#7E7593" >
          <input id="{{el.TypeZone}}id_ColorZone" maxlength="7" name="ColorZone" type="text" value="#7E7593" ></p>
          <p><input type="submit" value="Сохранить изменения"></p>
            <span>{{error}}</span>
        </form>
      </div>

  </div>
  {% endfor%}
{{ massiv|json_script:"massiv" }}
</div>
<script src="{% static 'adm/dist/js/typeofzone.js' %}">
</script>
{% endblock %}

