{% extends 'adm/index.html' %}
{% load static %}
{% block content_header %}

<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Пользователь</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'transport'  %}">ScooterADM</a></li>
              <li class="breadcrumb-item"><a href="{% url 'users'  %}">Пользователи</a></li>
              <li class="breadcrumb-item active">Пользователь</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

{% endblock %}

{% block main_content.html %}

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- About User Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пользователь</font></font></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-user mr-1"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Имя пользователя</font></font></strong>

                <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                  {{user.Name}} {{user.Soname}}
                </font></font></p>

                <hr>

                <strong><i class="fas fa-phone mr-1"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Телефон:</font></font></strong>

                <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.Phone}}</font></font></p>

                <hr>

                <strong><i class="fas fa-at mr-1"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email:</font></font></strong>

                <p class="text-muted">
                  <span class="tag tag-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.Email}}</font></font></span>

                </p>

                <hr>

                <strong><i class="fas fa-calendar-day mr-1"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дата регистрации</font></font></strong>

                <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.DateOfRegistration}}</font></font></p>

                <hr>

                <strong><i class="fas fa-calendar-day mr-1"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Последняя активность</font></font></strong>

                <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{user.LastActive}}</font></font></p>


              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Баланс</font></font></a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Промокоды</font></font></a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поездки</font></font></a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="activity">
                    <!-- Table1 -->
                    <table  class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Дата создания</th>
                          <th>Бонусы</th>
                          <th>Деньги</th>
                          <th>Сумма</th>
                          <th>Тип:</th>
                          <th>Статус</th>
                          <th>Дата проведения</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{user.UserBalance.DateOfCreation}}</td>
                          <td><a href="{% url 'user' user.id %}">{{user.UserBalance.Bonuses}}</a></td>
                          <td><a href="{% url 'user' user.id %}">{{user.UserBalance.Money}}</a></td>
                          <td>{{user.UserBalance.Money}}</td>
                          <td>{{user.UserBalance.TypeOperation}}</td>
                          <td>{{user.UserBalance.Status}}</td>
                          <td>{{user.UserBalance.DateOfOperation}}</td>

                        </tr>


                    </table>

                    <!-- /.Table1 -->

                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    ddsfghjklkjhgfcdghjk
                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="settings">
                    htgfvfdcdcd0987654321234567
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body --><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->


{% endblock %}

