{% extends 'adm/index.html' %}
{% load static %}
{% block content_header %}

<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">{{name}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">{% block content_header_breadcrumb %}ScooterADM{% endblock %}</a></li>
              <li class="breadcrumb-item active">{{name}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

{% endblock %}

{% block main_content.html %}

<section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile" style="padding: 0.25rem;">
                <style>
                .soflex2 > div
                {
                    display: flex;
                    justify-content: space-between;
                }
                </style>
                  <div class="card">
                    <div class="card-body table-responsive p-0" >
                    <form method="post" action="zonenew.html">
                      {% csrf_token %}
                      <label>Введите название зоны</label><br>
                      {{form.Name}} <br>
                      <label>Выберите тип зоны</label><br>
                      {{form.TypeZone}} <br>
                       <label>Нарисуйте зону на карте</label>
                      {{form.GPSPoints}} <br>
                      <label>Выберите цвет зоны</label><br>
                      {{form.ColorZone}} <br>
                      <input id="id_hex_color" maxlength="7" name="hex_color" type="color"><br>
                      <span>{{error}}</span>
                      <button class="btn btn-success" type="submit" value="Save">Добавить</button>

                    </form>
              </div>
            </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
              <style>
			    #mapid{
				height: 70vh;
				width:100%;
				margin:0;
			    }
	           </style>
                <div id="mapid" class="card">
                </div>
          </div>
        </div>
      </div>
    </section>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>


<script >
var mymap = L.map('mapid').setView([48.470987, 135.092935], 13);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYmxvb2R5cnUiLCJhIjoiY2txYnpjMnoxMDNyODJ1cDliaGlsOGdlNCJ9.lmO1vBnXQzD21BQBAwhJhQ'
}).addTo(mymap);

window.addEventListener("load", startup, false);

function watchColorPicker(event) {
document.getElementById('id_ColorZone').value=document.getElementById('id_hex_color').value
drowpolygon(poly)
console.log("fihvwidhbc")
}

function startup() {
  colorWell = document.querySelector("#id_hex_color");
  colorWell.addEventListener("input", watchColorPicker, false);
  colorWell.addEventListener("change", watchColorPicker, false);
  colorWell.select();
  console.log("startup")
}


var poly = [];
var newpolygon
function drowpolygon(poly) {
    if (poly.length>3){
        mymap.removeLayer(newpolygon)
       }
    newpolygon = L.polygon( poly,{color: document.getElementById('id_hex_color').value}).addTo(mymap);
}

var polygonForDb = [];
function onMapClick(e) {
    poly.push([e.latlng.lat, e.latlng.lng]);
    polygonForDb.push(e.latlng.lat);
    polygonForDb.push(e.latlng.lng);
    drowpolygon(poly)
    document.getElementById('id_GPSPoints').value = polygonForDb;
}

mymap.on('click', onMapClick);

</script>
{% endblock %}
